<!-- templates/gatos_list.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Lista de Gatos</title>
</head>
<body>
    <h2>Gatos Cadastrados</h2>

    <ul>
        {% for gato in gatos %}
            <li>
                <a href="{% url 'detalhar_gato' gato.pk %}"> <!-- o correto é mostrar os detalhes de cada gato-->
                    🐱 {{ gato.url }}
                </a>
            </li>
        {% empty %}
            <li>Nenhum gato cadastrado ainda.</li>
        {% endfor %}
    </ul>

    <a href="{% url 'criar_gato' %}">➕ Cadastrar Novo Gato</a><br>
    <a href="{% url 'home' %}">⬅ Voltar para o Início</a>
</body>
</html>
