<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <title>Resultado da Consulta CEP</title>
</head>
<body>
    <h1> Resultado:</h1>

    {% if endereco %}
        <h1>Endereço encontrado</h1>
        <p><strong>CEP:</strong> {{ endereco.cep }}</p>
        <p><strong>Rua:</strong> {{ endereco.rua }}</p>
        <p><strong>Bairro:</strong> {{ endereco.bairro }}</p>
        <p><strong>Cidade:</strong> {{ endereco.cidade }}</p>
        <p><strong>Estado:</strong> {{ endereco.estado }}</p>

        <p><em>Endereço formatado: {{ endereco }}</em></p>
    {% else %}
        <p>Nenhum endereço encontrado para o CEP informado.</p>
    {% endif %}

    <a href="{% url 'home' %}">Voltar</a>
</body>
</html>
