<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <title>Detalhes do CEP</title>
</head>
<body>
    <h1>Detalhes do CEP {{ ceps.cep }}</h1>

    <p><strong>Rua:</strong> {{ ceps.rua }}</p> <!-- se ligar no nome da variável que a classe passa!!!-->
    <p><strong>Bairro:</strong> {{ ceps.bairro }}</p>
    <p><strong>Cidade:</strong> {{ ceps.cidade }}</p>
    <p><strong>Estado:</strong> {{ ceps.estado }}</p>

    <a href="{% url 'lista_ceps' %}">Voltar para Lista</a>
</body>
</html>
