<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <title>Lista de CEPs pesquisados</title>
</head>
<body>
    <h1>CEPs Pesquisados</h1>

    <ul>
        {% for cep in ceps %}
            <li>
                <a href="{% url 'detalhes_cep' cep.id %}">{{ cep.cep }} - {{ cep.rua }}</a>
                - <a href="{% url 'deletar_cep' cep.id %}">Deletar</a>
            </li>
        {% empty %}
            <li>Nenhum CEP pesquisado ainda.</li>
        {% endfor %}
    </ul>

    <a href="{% url 'home' %}">Voltar para Home</a>
</body>
</html>